

.container-1 {
    border: 1px solid black;
    background-color: aqua;
}
.container-2 {
    border: 1px solid black;
    background-color:beige;
}
.container-3 {
    border: 1px solid black;
    background-color:darkgray;
}
.container-4 {
    border: 1px solid black;
    background-color:blanchedalmond;
}
.container-5 {
    border: 1px solid black;
    background-color:forestgreen;
}